<h2>YOUR FIRST SEARCH RESULT:</h2>

    <div>
        <p> symbol <%= stocks['01. symbol'] %> </p>
        <p> high <%= stocks['03. high'] %></p>
        <p> low <%= stocks['04. low'] %></p>
        <p> volume <%= stocks['06. volume'] %></p>
    </div>

<form  action="/users/results" method="POST" >
    <input name="symbol" type="hidden" value="<%= stocks['01. symbol'] %>" />
    <input name="high" type="hidden" value="<%= stocks['03. high'] %>" />
    <input name="low" type="hidden" value="<%= stocks['04. low']%>" />
    <input name="volume" type="hidden" value="<%= stocks['06. volume']%>" />
    <button type="submit">save stock to favorites</button>
</form>

<form href="/users/results"></form>

